<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Splash Screen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>SPLASH SCREEN en IONIC 7 y CAPACITOR 5</strong>
    <p>Acceda a las páginas de referencia:</p>
    <ol>
      <li><a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/native/splash-screen#hiding-the-splash-screen">Splash-Screen Ionic Docs</a></li>
      <li><a target="_blank" rel="noopener noreferrer" href="https://capacitorjs.com/docs/guides/splash-screens-and-icons">Splash-Screen Capacitor Docs</a></li>
    </ol>
  </div>
</ion-content>
